<!-- Option to create a new post -->
<h1>Dashboard</h1>
<button id="showPostForm" onclick="showForm()">Create Post</button>
<form id="newPostForm" style="display:none;">
    <label for="postTitle">Title:</label><br>
    <input type="text" id="postTitle" name="postTitle"><br>
    <label for="postText">Content:</label><br>
    <textarea id="postText" name="postText" rows="4" cols="50"></textarea><br>
    <button id="postComment" onclick="createPost()">Post</button>
</form>

<!-- Display all comments the currently logged in user has made -->
{{#if posts.length}}
{{#each posts as |post|}}
<div id="post{{post.id}}">
    <div class="post" id="regularForm" onclick="showDeleteUpdate()" style="display:block;">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
        <h3>You posted this on {{format_time post.created_date}}</h3>
    </div>

    <form id="updateForm" style="display:none;">
        <label for="editTitle">Title:</label><br>
        <input type="text" id="editTitle" name="editTitle" value="{{post.title}}"><br>
        <label for="editText">Content:</label><br>
        <textarea id="editText" name="editText" rows="4" cols="50">{{post.text}}</textarea><br>

        <button id="updateBtn" onclick="updatePost(this)">Edit</button>
        <button id="deleteBtn" onclick="deletePost(this)">Delete</button>
    </form>
</div>
<hr>
{{/each}}
{{else}}
<div>
    <h2>You have not posted anything</h2>
    <p>Click the "Create Post" button to post something</p>
</div>
{{/if}}

<script src="/js/dashboard.js"></script>